/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Header Coding Here */
nav .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 140px;
}
@media (max-width: 500px) {
  nav .logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 130px;
  }
}
nav a {
  text-decoration: none;
  color: [object Object];
  padding: 25px;
}
@media (max-width: 500px) {
  nav a {
    padding: 32px;
  }
}
nav a:hover {
  color: #F5F5F5;
}
nav .logo img {
  width: 8%;
  padding: 1%;
}
@media (max-width: 500px) {
  nav .logo img {
    width: 15%;
    margin-left: 5%;
  }
}
.logo h1 {
  font-size: 4rem;
  text-align: center;
  margin-left: -10%;
}
@media (max-width: 500px) {
  .logo h1 {
    font-size: 3.6rem;
    text-align: center;
    margin-right: 5%;
  }
}
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'), url(https://fonts.gstatic.com/s/cinzeldecorative/v8/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMk.ttf) format('truetype');
}
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Prata Regular'), local('Prata-Regular'), url(https://fonts.gstatic.com/s/prata/v10/6xKhdSpbNNCT-sWPCms.ttf) format('truetype');
}
/* Main Coding Starts Here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body,
button {
  background: #AB978D;
  font-family: 'Prata', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cinzel Decorative', serif;
}
.main-container {
  display: flex;
  align-items: center;
}
a {
  color: black;
}
.main-container {
  height: 65vh;
  background: #28293C;
  background: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
@media (max-width: 500px) {
  .main-container {
    height: 600px !important;
  }
}
.main-container .main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 600px;
}
@media (max-width: 500px) {
  .main-container .main-content {
    height: 525px;
  }
}
.main-content {
  background: #AB978D;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .main-content {
    opacity: 0.9;
    height: 80%;
  }
}
.main-content h1 {
  font-size: 5rem;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .main-content h1 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 10px !important;
    margin-bottom: 20px;
  }
}
.main-content p {
  line-height: 2rem;
  padding: 0 20px;
}
@media (max-width: 500px) {
  .main-content p {
    line-height: 1.5rem;
  }
}
.main-content button {
  background: #F5F5F5;
  padding: 20px 70px;
  font-size: 3rem;
  border-radius: 15px;
  margin-top: 40px;
}
.main-content button button:hover {
  color: #F5F5F5;
  background: #650D1B;
}
@media (max-width: 500px) {
  .main-content button {
    height: 60px;
    width: 90%;
    margin-top: 10px;
    font-size: 2.5rem;
    padding-bottom: 50px;
  }
}
button:hover {
  color: #F5F5F5;
  background: #650D1B;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin: 20px 0;
  font-size: 1.6rem;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .footer p,
  a {
    font-size: 1rem;
  }
}
.footer a {
  text-decoration: none;
  color: [object Object];
}
.footer h3 {
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .footer h3 {
    font-size: 2rem;
  }
}
.footer a:hover {
  color: #F5F5F5;
}
@media (max-width: 800px) {
  .main-container {
    height: 50vh;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body,
button {
  background: #AB978D;
  font-family: 'Prata', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cinzel Decorative', serif;
}
.about-container .about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content h1 {
  font-size: 3.2rem;
  padding: 30px 0 30px 0;
  font-weight: 900;
}
.about-content p {
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 25px;
  padding: 0 20px;
}
@media (max-width: 500px) {
  .about-content p {
    padding: 0 10px;
  }
}
.border-img {
  height: 12vh;
  background: url(https://images.unsplash.com/photo-1564149504298-00c351fd7f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border: 1px solid #28293C;
}
@media (max-width: 500px) {
  .border-img {
    height: 6vh;
  }
}
.team-intro h2 {
  text-align: center;
  font-size: 3.4rem;
  padding: 0;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .team-intro h2 {
    font-size: 2.8rem;
  }
}
.team-intro {
  background: #756363;
  padding: 10px;
  opacity: 0.9;
}
.team-intro h2 {
  color: #F5F5F5;
}
.team-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .team-content {
    flex-direction: column;
    align-items: center;
  }
}
.team-content .team-members {
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-left: 1%;
  padding: 30px 0;
}
@media (max-width: 500px) {
  .team-content .team-members {
    width: 100%;
  }
}
.team-members h3 {
  font-size: 2.6rem;
  font-weight: bolder;
}
.team-content a {
  font-size: 2.4rem;
}
.team-content .team-members img {
  border-radius: 50%;
  width: 40%;
  height: 70%;
}
.team-content .team-members img {
  width: 250px;
  height: 250px;
  transition: all 1s ease;
}
.team-content .team-members img:hover {
  width: 325px;
  height: 325px;
}
.team-content i {
  font-size: 4rem;
  color: [object Object];
}
.team-content a {
  text-decoration: none;
  color: [object Object];
}
.team-content a:hover {
  color: #F5F5F5;
}
.team-content i:hover {
  color: #F5F5F5;
}
.footer {
  padding: 20px 0;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
  .logo img {
    width: 5%;
  }
}
