// About Page Styling ***
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body, button {
    background: @dusty-rose;
    font-family: 'Prata', serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', serif;
}
.about-container .about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-content h1 {
    font-size: 3.2rem;
    padding: 30px 0 30px 0;
    font-weight: 900;

}
.about-content p {
    text-align: center;
    line-height: 1.6rem;
    margin-bottom: 25px;
    padding: 0 20px;

    @media @phone {
        padding: 0 10px;
    }
}
.border-img {
    height: 12vh;
    background: url(https://images.unsplash.com/photo-1564149504298-00c351fd7f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: 1px solid @deep-navy;

    @media @phone {
        height: 6vh;
    }
}

.team-intro h2 {
    text-align: center;
    font-size: 3.4rem;
    padding: 0;
    margin: 20px 0;

    @media @phone {
        font-size: 2.8rem;
    }
}
.team-intro {
    background: @warm-cider;
    padding: 10px;
    opacity: 0.9;
}
.team-intro h2 {
    color: @whitesmoke;
}

.team-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
}
.team-content .team-members {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    padding: 30px 0;

    @media @phone {
        width: 100%;
    }
}
.team-members h3 {
    font-size: 2.6rem;
    font-weight: bolder;
}
.team-content a {
   font-size: 2.4rem;
}
.team-content .team-members img{
   border-radius: 50%;
   width: 40%;
   height: 70%;
}

.team-content .team-members img {
    width: 250px;
    height: 250px; 
    transition: all 1s ease;
        // -webkit-transition: all 1s ease;
        // -moz-transition: all 1s ease;
        // -o-transition: all 1s ease;
        // -ms-transition: all 1s ease;
}
.team-content .team-members img:hover{
    width: 325px;
    height: 325px;
}

.team-content i {
    font-size: 4rem;
    color: .maincolor();
}
.team-content a {
    text-decoration: none;
    color: .maincolor();
}
.team-content a:hover {
    color: @whitesmoke;
}
.team-content i:hover {
    color: @whitesmoke;
}
.footer {
    padding: 20px 0;
}

@media (max-width: 500px){
    body {
        width: 100%;
    }
    .logo img{
        width: 5%;
    }
}