/* Header Coding Here */
nav .logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 25px;
}
.links a:hover{
    color: whitesmoke;
}
nav .links {
    width: 100%;
    text-align-last: right;
}
nav .logo img {
    width: 7%;
    padding: 1%;
}
.logo h1 {
    font-size: 4rem;
    text-align: center;
    margin-left: -5%;
}
nav .header-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}