@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Prata&display=swap');
/* Main Coding Starts Here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body, button {
    background: #AB978D;
    font-family: 'Prata', serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', serif;
}
.main-container {
    display: flex; 
    align-items: center;
}

.main-container {
    height: 65vh;
    background: #28293C;
    background: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    @media @phone {
        height: 600px;
    }
} // this sets the background image


.main-container .main-content {
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 600px;

    @media @phone {
        height: 500px;
    }
}
.main-content {
    background: #AB978D;
    opacity: 0.85;
    
    @media @phone {
        opacity: 0.85;
        height: 80%;
    }
}
.main-content h1 {
    font-size: 5rem;
    margin-top: 3%;

    @media @phone {
        font-size: 3.2rem;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
.main-content p {
    line-height: 2rem;
    padding: 0 20px;

    @media @phone {
        line-height: 1.6rem;
    }
}
.main-content button {
    background-color: whitesmoke;
    padding: 20px 70px;
    font-size: 3rem;
    border-radius: 15px;
    margin-top: 40px;

    @media @phone {
        height: 60px;
        width: 80%;
        margin-top: 5px;
        font-size: 2.6rem;
    }
}
 button:hover{
    color: whitesmoke;
    background: #650D1B;
}

// ****Footer Section****
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin: 20px 0;
    font-size: 1.6rem;
    line-height: 2rem;
}

    @media @phone {
        .footer p, a{
            font-size: 1rem;
        }
    }
.footer a {
    text-decoration: none;
    color: black;
    
}
.footer h3 {
    font-size: 2.4rem;
    
    @media @phone {
        font-size: 2rem;
    }
}
.footer a:hover{
    color: whitesmoke;
}


@media (max-width: 800px){
    .main-container {
        height: 50vh;
    }
}

