@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Prata&display=swap');
/* Main Coding Starts Here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body {
    background: #AB978D;
    font-family: 'Prata', serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Cinzel Decorative', serif;
}


.main-container {
    height: 90vh;
    background: #28293C;
    background: url(https://cdn.pixabay.com/photo/2017/09/07/01/12/bake-2723655_960_720.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
} // this sets the background image
.main-container .main-content {
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
}
.main-content {
    background: #AB978D;
    opacity: 0.6;
    width: 85%;
}
.main-content h1 {
    font-size: 5rem;
}
.main-content button {
    background-color: whitesmoke;
    padding: 20px 70px;
    font-size: 3rem;
}
